<header>
	<img src="assets/images/logo_SernaDesigns.png" alt="SernaDesigns Logo">
</header>

<main>
	<h1>
		<img src="assets/images/logo_SernaDesigns_original.png" alt="Original SernaDesigns Logo">
	</h1>

	{{outlet}}
</main>

<footer>
	&copy; Copyright {{copyrightYear}} SernaDesigns. All Rights Reserved.
</footer>